.ant-modal-confirm-body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .ant-modal-confirm-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
