html, 
body {
    height: 100%;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

#root {
	width: 100%;
    height: 100%;
    background: #f0f1fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
