.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 8px #ccc;
  .ant-btn,
  .ant-btn-primary {
    border-radius: 15px;
    font-family: "Kanit", sans-serif;
    background: #f7637b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      border: 1px solid #f7637b;
      color: #fff;
    }
    &:active {
      background: #f7637b;
      color: #fff;
    }
    &:focus {
      background: #f7637b;
      color: #fff;
    }
  }
}
